/* this makes the navbar stick to the top. */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* this brings the nav bar in front of the content. */
  z-index: 1;
}

.container-fluid {
  position: absolute;
  margin-top: 200px;
}

#title {
  margin-bottom: 30px;
}

#btn-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* changed this to .cat because it was effecting all of the buttons. */
.cat {
  margin: 5px;
  background-color: #eeeeee;
  border-color: #333333;
  border-radius: 5px;
  border-width: 3px;
}

#search-btn {
  background-color: #eeeeee;
  border-color: #333333;
  /* border-radius: 5px; */
  border-width: 2px;
}

#cat-headline {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 300px;
}

.btn:focus,
.btn:active {
  box-shadow: none !important;
}

#search-input {
  box-shadow: none !important;
  padding-bottom: 48px;
  border-color: #cccccc;
  vertical-align: top;
}

#select-field,
#select-field:active,
#select-field:focus,
#select-field {
  box-shadow: none !important;
}

/* Button Hovers */
.home {
  cursor: pointer;
}
#btn-one:hover {
  background-color: #bfe7f9;
}
#btn-two:hover {
  background-color: #f6c0dc;
}
#btn-three:hover {
  background-color: #e2cbf3;
}
#btn-four:hover {
  background-color: #ddeda3;
}

#search-btn:hover {
  background-color: #f9edc2;
}

h3 {
  padding-top: 200px;
  padding-bottom: 5px;
}

p {
  padding-bottom: 40px;
}

/* footer  */
footer {
  position: relative;
  background-color: white;
  text-align: center;
  margin-top: auto;
  left: 0;
  bottom: 0;
  clear: both;
  width: 100%;
  height: 100px;
}

#heart-icon {
  padding: 5px;
}

/* Media queries */

@media only screen and (max-width: 767px) {
  #btn-div {
    margin: 0 auto;
    display: block;
    float: none;
    width: 75%;
    text-align: center;
  }

  h3,
  p {
    margin: 0 auto;
    display: block;
    float: none;
    width: 75%;
    text-align: center;
  }

  .generated-content {
    margin: 0 auto;
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
