/* this makes the navbar stick to the top. */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* this brings the nav bar in front of the content. */
  z-index: 1;
}

.container-fluid {
  position: absolute;
  margin-top: 200px;
}

#title {
  margin-bottom: 20px;
  font-family: Escafina-Medium;
}

@font-face {
  font-family: Escafina-Medium;
  src: url(x_fonts/Escafina-Medium.otf);
}

#btn-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* changed this to .cat because it was effecting all of the buttons. */
.cat {
  margin: 5px;
  background-color: #eeeeee;
  border-color: #333333;
  border-radius: 5px;
  border-width: 3px;
}

#search-btn {
  background-color: #eeeeee;
  border-color: #333333;
  /* border-radius: 5px; */
  border-width: 2px;
}

#cat-headline {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 300px;
}

.btn:focus,
.btn:active,
#search:active {
  box-shadow: none !important;
}

#search {
  box-shadow: none !important;
  padding: 25px;
  border-color: #cccccc;
  vertical-align: top;
}

/* Button Hovers */
.home {
  cursor: pointer;
}
#btn-one:hover {
  background-color: #bfe7f9;
}
#btn-two:hover {
  background-color: #f6c0dc;
}
#btn-three:hover {
  background-color: #e2cbf3;
}
#btn-four:hover {
  background-color: #ddeda3;
}

#search-btn:hover {
  background-color: #f9edc2;
}

h3 {
  padding-top: 200px;
  padding-bottom: 5px;
}

.cat-p {
  padding-bottom: 10px;
}

#generated-content {
  margin: 0 auto;
  display: block;
  float: none;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* footer  */
footer {
  position: relative;
  background-color: white;
  text-align: center;
  margin-top: auto;
  left: 0;
  bottom: 0;
  clear: both;
  width: 100%;
  height: 100px;
}

#heart-icon {
  padding: 5px;
}

/* Media queries */

@media only screen and (max-width: 767px) {
  .container-fluid {
    margin-top: 100px;
  }

  #btn-div {
    padding-top: 30px;
    margin: 0 auto;
    display: block;
    float: none;
    width: 75%;
    text-align: center;
  }

  h3,
  p {
    margin: 0 auto;
    display: block;
    float: none;
    width: 75%;
    text-align: center;
  }

  #generated-content {
    margin: 0 auto;
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

#generated-content img {
  max-height: 250px;
  vertical-align: middle;
  margin: 5px;
}

#tooltip {
  position: absolute;
  background-color: rgba(210, 180, 240, 0.9);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid maroon;
  border-radius: 5px;
  transform: translate(-50%, -125%);
  pointer-events: none;
  z-index: 10;
}
